<header class="header">
  <div class="header-left">
    <div>
      <a class="logo" routerLink="/">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/918px-NASA_logo.svg.png"
          alt=""
          width="90"
          height="auto"
        />
      </a>
    </div>
    <div>
      <a routerLink="/products" routerLinkActive="active-link">Product</a>
    </div>
    <div><a routerLink="/about" routerLinkActive="active-link">About</a></div>
    <div>
      <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </div>
  </div>
  <div class="header-right">
    @if (isLogin) {
      <div>
        <a routerLink="/account" routerLinkActive="active-link">Account</a>
      </div>
      <div><a routerLink="">Logout</a></div>
    } @else {
      <div><a routerLink="/login" routerLinkActive="active-link">Login</a></div>
      <div>
        <a routerLink="/register" routerLinkActive="active-link">Register</a>
      </div>
    }
  </div>
</header>
