<div class="task-detail" *ngIf="taskDetail && editTask">
  <h2>TASK DETAIl</h2>
  <table>
    <tbody>
      <th>ID</th>
      <td>{{ taskDetail.id }}</td>
      <td>{{ taskDetail.id }}</td>
    </tbody>
    <tbody>
      <th>UserId</th>
      <td>{{ taskDetail.userId }}</td>
      <td>{{ taskDetail.userId }}</td>
    </tbody>
    <tbody>
      <th>Title</th>
      <td>{{ taskDetail.title }}</td>
      <td>
        <textarea
          name="title"
          id="title"
          [(ngModel)]="editTask.title"
          rows="5"
          placeholder="Enter new title"
        ></textarea>
      </td>
    </tbody>
    <tbody>
      <th>Body</th>
      <td>{{ taskDetail.body }}</td>
      <td>
        <textarea
          name="body"
          id="body"
          [(ngModel)]="editTask.body"
          rows="10"
          placeholder="Enter new body"
        ></textarea>
      </td>
    </tbody>
  </table>
  <div class="div-btn">
    <button type="button" (click)="updateTask()">Update</button>
    <button type="button" (click)="handleBack()">Back</button>
  </div>
</div>
