<!-- <div class="container"> @for (item of tasks; track $index) { <div class="task">
    <p>{{item.id}}</p>
    <input type="text" name="id" id="id" [(ngModel)]="item.id" placeholder="Enter id">
    <p>{{item.title}}</p>
    <input type="text" name="title" id="title" [(ngModel)]="item.title" placeholder="Enter title">
  </div> } </div> -->
<div class="new-item">
  <input type="text" name="title" id="title" [(ngModel)]="newTitle" placeholder="Enter new title">
  <button type="button" (click)="addTask(newTitle)">ADD TASK</button>
</div>
<div class="container">
  <div class="task" *ngFor="let item of tasks;">
    <p>{{item.id}}</p>
    <p>{{item.title | uppercase}}</p>
    <button type="button" (click)="handleSelect(item)">Select</button>
    <button type="button" (click)="handleDelete(item.id)">Delete</button>
  </div>
</div>
<app-task-detail [taskDetail]="taskSelected" [editTask]="editTask" (taskEvent)="receiveTask($event)"></app-task-detail>
