<div class="new-item">
  <input
    type="text"
    name="title"
    id="title"
    [(ngModel)]="newTitle"
    placeholder="Enter new title"
  />
  <button type="button" (click)="addTask(newTitle)">ADD TASK</button>
</div>
<div class="container">
  @if (tasks.length) {
  <div class="task" *ngFor="let item of tasks">
    <p>{{ item.id }}</p>
    <p>{{ item.title | uppercase }}</p>
    <button type="button" (click)="handleSelect(item.id)">Select</button>
    <button type="button" (click)="handleDelete(item.id)">Delete</button>
  </div>
  } @else {
  <div class="no-data">NO DATA</div>
  }
</div>
