.container {
  height: max-content;
  margin: auto;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.task > p:nth-child(1) {
  width: fit-content;
}

.task > p:nth-child(2) {
  width: 70%;
  padding: 0px 20px;
}

.task button {
  display: block;
  cursor: pointer;
  height: fit-content;
  padding: 8px 20px;
  color: white;
  border: none;
  border-radius: 3px;
  &:hover {
    color: yellow;
  }
}

.task:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

button.active {
  background-color: yellow;
}

.new-item {
  padding: 10px;
  display: flex;
  font-size: 18px;
  justify-content: space-evenly;
}

.no-data {
  text-align: center;
}

.btn-select {
  background-color: green;
}

.btn-delete {
  background-color: red;
}
